{% extends 'apps/admin/apps/operator.html' %}
{% load static %}
{% block operator_context %}
    <div class="container">
        <div class="col-md-6 col-sm-6 offset-2">
            <form method="post" action="/operator/prodcut_add">
                <input type="hidden" name="csrfmiddlewaretoken"
                       value="CjFdk3AOc1Lqcqm1OrYPPHIbIuzl9EQsyg46wyV0Kdnkw5YKKmOKAVd9DyeVnxGP">
                <div class="form-group">
                    <div class="form-group">
                        <label for="inputFullName">Ism Familyasi</label>
                        <input type="text" name="fullname" class="form-control" id="inputFullName">
                    </div>
                    <br>
                    <label for="location">Viloyat</label>
                    <select class="form-control" id="location" name="location">

                        <option value="Viloyatni tanlang">Viloyatni tanlang</option>

                        <option value="tashkent">Toshkent shahar</option>

                        <option value="andijon">Andijon viloyati</option>

                        <option value="buxoro">Buxoro viloyati</option>

                        <option value="fargona">Fargʻona viloyati</option>

                        <option value="jizzax">Jizzax viloyati</option>

                        <option value="namangan">Namangan viloyati</option>

                        <option value="navoiy">Navoiy viloyati</option>

                        <option value="qashqadaryo">Qashqadaryo viloyati</option>

                        <option value="qoraqalpogiston">Qoraqalpogʻiston Respublika</option>

                        <option value="samarqand">Samarqand viloyati</option>

                        <option value="sirdaryo">Sirdaryo viloyati</option>

                        <option value="surxondaryo">Surxondaryo viloyati</option>

                        <option value="toshkent">Toshkent viloyati</option>

                        <option value="xorazm">Xorazm viloyati</option>

                    </select>
                    <br>
                    <div class="form-group">
                        <label for="inputAddress">Manzili</label>
                        <input type="text" name="address" class="form-control" id="inputAddress">
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="inputCount">Soni</label>
                        <input type="number" name="quantity" class="form-control" id="inputCount">
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="phone-mask">Telefon nomer</label>
                        <input type="text" id="phone-mask" max="20" name="phone_number" class="form-control">
                    </div>
                    <br>

                    <div class="form-group">
                        <label for="product">Mahsulot</label>
                        <select class="form-control" id="product" name="product">
                            <option value="">Hammasi</option>

                            <option value="424">
                                Bolalar uchun alifbo
                            </option>

                            <option value="423">
                                Powerup
                            </option>

                            <option value="422">
                                Maxsus gel
                            </option>

                            <option value="421">
                                Mini Konditsioner xona uchun oq ranglisi
                            </option>

                            <option value="420">
                                Ajoyib urug'dan yetiluvchi gul
                            </option>

                            <option value="419">
                                Zamazka avtomobil kuzovi uchun
                            </option>

                            <option value="418">
                                Zamazka avtomobil kuzovi uchun
                            </option>

                            <option value="417">
                                Izlash kitobi
                            </option>

                            <option value="416">
                                5 xil achki-Soat-M19
                            </option>

                            <option value="415">
                                Jenshen tabbiy
                            </option>

                            <option value="414">
                                Bug’ dazmol
                            </option>

                            <option value="413">
                                Qora shanmpun - Sochiq
                            </option>

                            <option value="412">
                                Duo taqdirni o’zgartiradi
                            </option>

                            <option value="411">
                                sochiq
                            </option>

                            <option value="410">
                                1 TA KOʻZ OYNAKDA 5 XIL RANG
                            </option>

                            <option value="409">
                                Zikr ring
                            </option>

                            <option value="408">
                                The Ordinariy 7%
                            </option>

                            <option value="407">
                                Furqon pultli joynamozi
                            </option>

                            <option value="406">
                                Mustajob duolar
                            </option>

                            <option value="405">
                                Muallimi Soniy (Tajvid qoidalari bilan]
                            </option>

                            <option value="404">
                                Ramazon duosi va Hurmo idishi
                            </option>

                            <option value="403">
                                Ramazon kundaligi
                            </option>

                            <option value="402">
                                AKOVA AK-12
                            </option>

                            <option value="401">
                                Soat-Kashilog-Omaf
                            </option>

                            <option value="400">
                                STUD 5000
                            </option>

                            <option value="399">
                                VGR V-228
                            </option>

                            <option value="398">
                                VGR V-106
                            </option>

                            <option value="397">
                                Kapilka
                            </option>

                            <option value="396">
                                Taktik qulqop
                            </option>

                            <option value="395">
                                P47 AirPods
                            </option>

                            <option value="394">
                                M 10 Airpods
                            </option>

                            <option value="393">
                                Vercage.Eclad.Incand
                            </option>

                            <option value="392">
                                Vercage.Eclad.Incand
                            </option>

                            <option value="391">
                                M Detox choy
                            </option>

                            <option value="390">
                                Karseell Collagen
                            </option>

                            <option value="389">
                                Genger sovun
                            </option>

                            <option value="388">
                                Collagen shampun
                            </option>

                            <option value="387">
                                Kavrak
                            </option>

                            <option value="386">
                                Universal nabor
                            </option>

                            <option value="385">
                                Vaqtning qadri
                            </option>

                            <option value="384"> AVF ET Allohim
                            </option>
                            <option value="383">3D ekran yangichasi
                            </option>

                            <option value="382">Tilla rang culon
                            </option>

                            <option value="381">
                                Million dollarlik xatolar
                            </option>

                            <option value="380">
                                Rosululloh (s.a.v) bilan 1 soat
                            </option>

                            <option value="379">
                                Hayaati Vasmoy Magienoire 3 tasi birda
                            </option>

                            <option value="378">
                                Hayaati Vasmoy Magienoire 3 tasi birda
                            </option>

                            <option value="377">
                                Dayson fen
                            </option>

                            <option value="376">
                                BEARD OIL
                            </option>

                            <option value="375">
                                Alloxning elchisi MUXAMMAD
                            </option>

                            <option value="374">
                                Drxam Mousuf Narkotik 3 tasi birda
                            </option>

                            <option value="373">
                                Drxam Mousuf Narkotik 3 tasi birda
                            </option>

                            <option value="372">
                                Black Hair shampun
                            </option>

                            <option value="371">
                                TOP ATIRLAR
                            </option>

                            <option value="370">
                                Ayollar uchun Binni shapka
                            </option>

                            <option value="369">
                                Savdogarlar Ustozi yoxud Haqiqiy omad kaliti
                            </option>

                            <option value="368">
                                Pushka Pechka 3kv
                            </option>

                            <option value="367">
                                Vitik katta Elektrolux
                            </option>

                            <option value="366">
                                Posture Support
                            </option>

                            <option value="365">
                                Slim body ozdiruvchi ayollar uchun
                            </option>

                            <option value="364">
                                Simsiz zaryadlash
                            </option>

                            <option value="363">
                                TOP ATIRLAR
                            </option>

                            <option value="362">
                                Muallimi Soniy (Tajvid qoidalari bilan]
                            </option>

                            <option value="361">
                                Star Master led
                            </option>

                            <option value="360">
                                SHARP TOOL Charx
                            </option>

                            <option value="359">
                                mini zoom led
                            </option>

                            <option value="358">
                                Varikoz Naski
                            </option>

                            <option value="357">
                                46 BIG Nabor
                            </option>

                            <option value="356">
                                TOP ATIRLAR
                            </option>

                            <option value="355">
                                BLEU CHANEL
                            </option>

                            <option value="354">
                                vetik
                            </option>

                            <option value="353">
                                Avtomobil Eshigi Uchun sticer
                            </option>

                            <option value="352">
                                Kirka 45ml
                            </option>

                            <option value="351">
                                Q7 Shokalad
                            </option>

                            <option value="350">
                                Kalgotka
                            </option>

                            <option value="349">
                                KIRKA 50ml
                            </option>

                            <option value="348">
                                Avtomobil Eshigi Uchun sticer
                            </option>

                            <option value="347">
                                Supper Kislata Mannol
                            </option>

                            <option value="346">
                                SUAVAGI DIOR
                            </option>

                            <option value="345">
                                Vosmoy element
                            </option>

                            <option value="344">
                                NARKOTIQUE
                            </option>

                            <option value="343">
                                Termal Mest
                            </option>

                            <option value="342">
                                Armeyiski maska
                            </option>

                            <option value="341">
                                Armeyiski maska
                            </option>

                            <option value="340">
                                Macun
                            </option>

                            <option value="339">
                                Slim body ozdiruvchi ayollar uchun
                            </option>

                            <option value="338">
                                Vitek
                            </option>

                            <option value="337">
                                LANBENA Maska
                            </option>

                            <option value="335">
                                MEIDIAN Krem
                            </option>

                            <option value="334">
                                Black Hair shampun
                            </option>

                            <option value="333">
                                BOSCH SUPER SIFATLI BLENDER
                            </option>

                            <option value="332">
                                Black Hair shampun
                            </option>

                            <option value="331">
                                Posture Support
                            </option>

                            <option value="330">
                                HAIR REMOVAL KREM 2 TALIK
                            </option>

                            <option value="329">
                                UNIVERSAL MARKER
                            </option>

                            <option value="328">
                                Slim body ozdiruvchi ayollar uchun
                            </option>

                            <option value="327">
                                Dragon krem
                            </option>

                            <option value="326">
                                snail krem
                            </option>

                            <option value="325">
                                Kapilka
                            </option>

                            <option value="324">
                                Video regstrator
                            </option>

                            <option value="323">
                                Tabiiy krem
                            </option>

                            <option value="322">
                                Vitek....
                            </option>

                            <option value="321">
                                Gold mask retinol
                            </option>

                            <option value="320">
                                Meni ZOOM LED
                            </option>

                            <option value="319">
                                Gold mask retinol
                            </option>

                            <option value="318">
                                Dior orginal 5 talik atir naborlarimiz
                            </option>

                            <option value="317">
                                Slim body ozdiruvchi ayollar uchun
                            </option>

                            <option value="316">
                                Buyin uchun ems kabelik massajyor
                            </option>

                            <option value="315">
                                Video regstrator
                            </option>

                            <option value="314">
                                KIRKA ATR
                            </option>

                            <option value="313">
                                Oqartiruvchi super krem
                            </option>

                            <option value="312">
                                KIRKA ATR
                            </option>

                            <option value="311">
                                OQARTIRUVCHI KREM oyoq kiym ucun
                            </option>

                            <option value="310">
                                Mini tikish moshinka
                            </option>

                            <option value="309">
                                MINE SHAVER
                            </option>

                            <option value="308">
                                Polda turadigan konditsioner
                            </option>

                            <option value="307">
                                SUPER VAKUM USKUNA
                            </option>

                            <option value="306">
                                Elektron Killer Pashshalar uchun!
                            </option>

                            <option value="305">
                                Super tozalovchi sovun
                            </option>

                            <option value="304">
                                Freshness Dry
                            </option>

                            <option value="303">
                                CHUCHVARA TUGISH
                            </option>

                            <option value="302">
                                Super tozalovchi kukun !!
                            </option>

                            <option value="301">
                                Avtomobil old oynasi uchun soyabon
                            </option>

                            <option value="300">
                                Chopper Temirli
                            </option>

                            <option value="299">
                                1 TA KOʻZ OYNAKDA 5 XIL RANG
                            </option>

                            <option value="298">
                                FRESH Meni blender
                            </option>

                            <option value="297">
                                FORMULA ATIR
                            </option>

                            <option value="296">
                                ELEKTRON TERI TOZALAGICH
                            </option>

                            <option value="295">
                                T800
                            </option>

                            <option value="294">
                                EMS oyoq masajyor
                            </option>

                            <option value="293">
                                CHUCHVARA TUGISH
                            </option>

                            <option value="292">
                                DOMINO TERUVCHI POYEZDCHA
                            </option>

                            <option value="291">
                                EMS OYOQ MASSAJYORI MINI MASSAJYOR
                            </option>

                            <option value="290">
                                Ko'p funksiyalik braslet
                            </option>

                            <option value="289">
                                Moshina labovoy klik / WIND SHIELD
                            </option>

                            <option value="288">
                                Smart Watch va Airpods
                            </option>

                            <option value="287">
                                Index bassen 3mx2mx75sm
                            </option>

                            <option value="286">
                                Index bassen 450x220x84
                            </option>

                            <option value="285">
                                Bassen 305sm×76sm
                            </option>

                            <option value="284">
                                Intex bassen 244sm 61sm
                            </option>

                            <option value="283">
                                FRESH Meni blender
                            </option>

                            <option value="282">
                                Avto Jalyuzi
                            </option>

                            <option value="281">
                                KARCHIRLI SHLANK 45 metr
                            </option>

                            <option value="280">
                                KARCHIRLI SHLANK 30 metr
                            </option>

                            <option value="279">
                                KARCHIRLI SHLANK 22.5 metr
                            </option>

                            <option value="278">
                                Beard oil–Beart cutter
                            </option>

                            <option value="277">
                                Benda–Samyunwan–Gren mask
                            </option>

                            <option value="276">
                                Oqargan sochlarni qoraytiradigan sovun
                            </option>

                            <option value="275">
                                Mafiya O'yini
                            </option>

                            <option value="274">
                                TIRNOQLAR UCHUN NABOR ➖ QULOQ TOZALAGICH
                            </option>

                            <option value="273">
                                T800 ULTRA Smart Watch
                            </option>

                            <option value="272">
                                Remover krem - Remover kristali
                            </option>

                            <option value="271">
                                UCHUVCHI KO'PTOK
                            </option>

                            <option value="270">
                                VERTALYOT
                            </option>

                            <option value="269">
                                Samyun Wan ➖ Bendax
                            </option>

                            <option value="268">
                                Quroni Karim Kitobi va Al husna
                            </option>

                            <option value="267">
                                Planshet doska va ajoyib proyektor
                            </option>

                            <option value="266">
                                VGR - Beard Cutter
                            </option>

                            <option value="265">
                                Solihlar gulshani
                            </option>

                            <option value="264">
                                MAHZUN BO'LMA
                            </option>

                            <option value="263">
                                UCHAR FEYA
                            </option>

                            <option value="262">
                                YUZ UCHUN MASAJYOR
                            </option>

                            <option value="261">
                                Ramazon oyi sovg'asi
                            </option>

                            <option value="260">
                                BRASLED
                            </option>

                            <option value="259">
                                KUMUSH RANG CULON
                            </option>

                            <option value="258">
                                Multi Massajyor
                            </option>

                            <option value="257">
                                Dr-Racher sovuni
                            </option>

                            <option value="256">
                                Sumkalik joynamoz
                            </option>

                            <option value="255">
                                KODES
                            </option>

                            <option value="254">
                                Vibratone
                            </option>

                            <option value="253">
                                Ajoyib charx
                            </option>

                            <option value="252">
                                KARCHIRLI SHLANK 15 metr
                            </option>

                            <option value="251">
                                Samyun wan
                            </option>

                            <option value="250">
                                Bendax
                            </option>

                            <option value="248">
                                BOLALAR UCHUN O'RDAKCHA
                            </option>

                            <option value="247">
                                CULON
                            </option>

                            <option value="246">
                                SHAMS Qora sedana
                            </option>

                            <option value="245">
                                TURK ASALI
                            </option>

                            <option value="244">
                                ПАЙҒАМБАРЛАР ХАҚИДАГИ КИТОБ
                            </option>

                            <option value="243">
                                Mini kamera
                            </option>

                            <option value="242">
                                Fosfor boltlar
                            </option>

                            <option value="241">
                                ShAMOILI MUXAMMADIYA
                            </option>

                            <option value="240">
                                Ayollar ibodatiga xos masalalar
                            </option>

                            <option value="239">
                                Iktasi Birda Peoneer
                            </option>

                            <option value="238">
                                Riyozus Solihiyn muxtasar sharxi
                            </option>

                            <option value="237">
                                FOSFOR kalpachoklar
                            </option>

                            <option value="236">
                                FOSFOR NAKLEYKA
                            </option>

                            <option value="235">
                                Epilator painless
                            </option>

                            <option value="234">
                                EMES masajyori
                            </option>

                            <option value="233">
                                Planshet
                            </option>

                            <option value="232">
                                Erkaklar uchun nobor
                            </option>

                            <option value="229">
                                Turk asali
                            </option>

                            <option value="227">
                                Bolalar uchun Proyektor
                            </option>

                            <option value="226">
                                Tirnoq uchun nabor
                            </option>

                            <option value="225">
                                Qorbobo kiyim
                            </option>

                            <option value="224">
                                Orto Pro TizzaBand
                            </option>

                            <option value="223">
                                ANTI - FOG
                            </option>

                            <option value="222">
                                Bracelet
                            </option>

                            <option value="221">
                                Ogohlantirish LED chirogi
                            </option>

                            <option value="220">
                                Mini soch dazmol
                            </option>

                            <option value="219">
                                Mini Laser stage ligting
                            </option>

                            <option value="217">
                                Baniyat Shifo
                            </option>

                            <option value="216">
                                SMART SHAVER
                            </option>

                            <option value="215">
                                Qur’oni karimning mashhur suralari fazilati
                            </option>

                            <option value="214">
                                ZOOM LED
                            </option>

                            <option value="212">
                                GUCCi Smartwatch
                            </option>

                            <option value="211">
                                Elektron tish cho'tka
                            </option>

                            <option value="210">
                                STUD 5000
                            </option>

                            <option value="209">
                                Koptok
                            </option>

                            <option value="208">
                                Ko'p funksiyalik belkurak
                            </option>

                            <option value="207">
                                Slimmer Disk
                            </option>

                            <option value="206">
                                Zaryadlash simsiz
                            </option>

                            <option value="205">
                                UPSIZE
                            </option>

                            <option value="204">
                                FERAMON ATIR
                            </option>

                            <option value="203">
                                VGR-390
                            </option>

                            <option value="202">
                                Beard Cutter - Mini soqol olgich
                            </option>

                            <option value="201">
                                Q7 SHOKALAD
                            </option>

                            <option value="200">
                                Mini Blendir
                            </option>

                            <option value="198">
                                Video regstrator
                            </option>

                            <option value="197">
                                Termal Mest
                            </option>

                            <option value="196">
                                Slim patch
                            </option>

                            <option value="195">
                                Quloq tozalagich
                            </option>

                            <option value="194">
                                Vibra stick2
                            </option>

                            <option value="193">
                                Legend Samsung GUSTO 3 GSM
                            </option>

                            <option value="192">
                                Kolenniy patch
                            </option>

                            <option value="191">
                                LG FOLDER 2
                            </option>

                            <option value="190">
                                Straight comb dazmol
                            </option>

                            <option value="189">
                                Wi-Fe mini kamera
                            </option>

                            <option value="188">
                                Kafel tozalaydigan
                            </option>

                            <option value="187">
                                GERBER nabor
                            </option>

                            <option value="186">
                                Nokia 2720
                            </option>

                            <option value="185">
                                Protes palerofka
                            </option>

                            <option value="184">
                                2dyumli, avtomobil uchun vakuum
                            </option>

                            <option value="183">
                                Turbinali kir yuvish mashinasi
                            </option>

                            <option value="182">
                                Deargon moshina uchun
                            </option>

                            <option value="181">
                                Tozalovchi kukun vannaxonalarga
                            </option>

                            <option value="180">
                                Gemaroy kasalligiga qarshi samarali vosita
                            </option>

                            <option value="179">
                                Karite
                            </option>

                            <option value="178">
                                Placenta extract gel
                            </option>

                            <option value="177">
                                Veins varekoz pach
                            </option>

                            <option value="176">
                                Ginseng Kianpi Pin
                            </option>

                            <option value="175">
                                Avtomobil old oynasi uchun soyabon
                            </option>

                            <option value="174">
                                Mini karcher
                            </option>

                            <option value="173">
                                Psoryaz maz
                            </option>

                            <option value="172">
                                King yes spray
                            </option>

                            <option value="171">
                                Matcha choy
                            </option>

                            <option value="170">
                                Caboki
                            </option>

                            <option value="169">
                                Ultra pro sovutgich
                            </option>

                            <option value="168">
                                Samsung GUSTO 3
                            </option>

                            <option value="167">
                                Mini Uvlajnetil
                            </option>

                            <option value="166">
                                SAMYUN WAN
                            </option>

                            <option value="165">
                                Soft149
                            </option>

                            <option value="164">
                                EXCITE TOPLAM
                            </option>

                            <option value="163">
                                Bendax 99
                            </option>

                            <option value="162">
                                MAGIC KUSHION
                            </option>

                            <option value="161">
                                Mini kandetsaner /
                            </option>

                            <option value="160">
                                Tuz cuwyom
                            </option>

                            <option value="159">
                                Kinoki 86
                            </option>

                            <option value="158">
                                Gren Mask 85
                            </option>

                            <option value="157">
                                Mikrofiber sochiqlari
                            </option>

                            <option value="156">
                                Slim patch 10
                            </option>

                            <option value="153">
                                Slim patch 30
                            </option>

                            <option value="152">
                                Macun
                            </option>

                            <option value="151">
                                Havo urindiq
                            </option>

                            <option value="150">
                                Quloq yallig'lanishiga qarshi Fitasvecha
                            </option>

                            <option value="149">
                                Showery eko dush
                            </option>

                            <option value="148">
                                Pichoq nabor
                            </option>

                            <option value="147">
                                Mini bassen 183+51sm
                            </option>

                            <option value="146">
                                Bolajonlar uchun 86+25
                            </option>

                            <option value="145">
                                KINOKI
                            </option>

                            <option value="144">
                                CL-63B LED LAMPA
                            </option>

                            <option value="143">
                                Bolalar uchun rezina tish cho'tka!
                            </option>

                            <option value="142">
                                SAMODAGI KABA
                            </option>

                            <option value="141">
                                Matcha yoqimli ozdiruvchi choy
                            </option>

                            <option value="140">
                                ANTI-RUST ZANGDAN QUTULING
                            </option>

                            <option value="139">
                                CARB CLEANER
                            </option>

                            <option value="138">
                                Karchir shlank
                            </option>

                            <option value="137">
                                Magnetli pardalar
                            </option>

                            <option value="134">
                                KOMPYUTOR NURIDAN XIMOYALOVCHI ACHKI
                            </option>

                            <option value="133">
                                Kundur
                            </option>

                            <option value="132">
                                Namoz kiyim ayollar uchun
                            </option>

                            <option value="131">
                                4inONE QAHVA
                            </option>

                            <option value="130">
                                Nij dil
                            </option>

                            <option value="128">
                                SUYANCHIQLI JOYNOMOZ
                            </option>

                            <option value="127">
                                O'zbekiston uchun pashshalardan himoya!
                            </option>

                            <option value="126">
                                suv Purkagich
                            </option>

                            <option value="125">
                                Cushion
                            </option>

                            <option value="124">
                                MINI KONDETSANER
                            </option>

                            <option value="123">
                                Egiluvchan oyna
                            </option>

                            <option value="122">
                                MISIR CHOY
                            </option>

                            <option value="121">
                                MINI ELEKTRIK DAZMOL
                            </option>

                            <option value="120">
                                Katyusha õlik terilar uchun
                            </option>

                            <option value="119">
                                1 TA KOʻZ OYNAKDA 5 XIL RANG
                            </option>

                            <option value="118">
                                Oyoq terlashiga qarshi TEYMUROVA Sprayi
                            </option>

                            <option value="117">
                                ZIKR_RING
                            </option>

                            <option value="116">
                                Tilla rang culon
                            </option>

                            <option value="115">
                                DESAR
                            </option>

                            <option value="113">
                                Olamlarga raxmat payğambar
                            </option>

                            <option value="111">
                                Asanka
                            </option>

                            <option value="110">
                                Attomic zapper
                            </option>

                            <option value="109">
                                Luma smeli tish
                            </option>

                            <option value="108">
                                IBODATI ISLOMIYA
                            </option>

                            <option value="106">
                                3D EKRAN
                            </option>

                            <option value="105">
                                Orasore
                            </option>

                            <option value="104">
                                Mini JPS
                            </option>

                            <option value="103">
                                UMRA IBODATI TAVSIYALARI
                            </option>

                            <option value="102">
                                Filex Forte Gemaroyga Qarshi
                            </option>

                            <option value="101">
                                Kuz qamashishiga qarshi
                            </option>

                            <option value="100">
                                TIKUV MASHINASI
                            </option>

                            <option value="99">
                                Relax masajyor
                            </option>

                            <option value="98">
                                Tez fursat ichida gemaroydan butunlat xalos bulish
                            </option>

                            <option value="97">
                                Pichoq chaxi
                            </option>

                            <option value="96">
                                Kaba nabor 279
                            </option>

                            <option value="94">
                                ELEKTRON TASBEH
                            </option>

                            <option value="93">
                                Ruchkali kamera
                            </option>

                            <option value="91">
                                Ichimlik suv nasos
                            </option>

                            <option value="88">
                                CHOL KREM
                            </option>

                            <option value="87">
                                BILAYT
                            </option>

                            <option value="86">
                                VIBRA STIK
                            </option>

                            <option value="84">
                                SOCH-SOQOL OLISH MASHENKASI
                            </option>

                            <option value="83">
                                Hijoma bonkasi
                            </option>

                            <option value="82">
                                24 carat
                            </option>

                            <option value="80">
                                Q7
                            </option>

                            <option value="78">
                                Qora sedana Tebomed
                            </option>

                            <option value="77">
                                KABA NABOR
                            </option>

                            <option value="76">
                                Mini elektron seyf
                            </option>

                            <option value="75">
                                Mini seyf
                            </option>

                            <option value="74">
                                Riyozus solyiin muxtasar sharqi
                            </option>

                            <option value="73">
                                KISGICHLI QIRĞICH Idish
                            </option>

                            <option value="71">
                                PAYĞAMBARLAR TARIXI
                            </option>

                            <option value="70">
                                simsiz zaryodlovchi
                            </option>

                            <option value="67">
                                SMART CHIROQ
                            </option>

                            <option value="66">
                                Tish oqartiruvchi pasta
                            </option>

                            <option value="65">
                                power belt
                            </option>

                            <option value="64">
                                sharbat tayyorlagich
                            </option>

                            <option value="63">
                                sekret kamera
                            </option>

                            <option value="62">
                                soft
                            </option>

                            <option value="60">
                                Oyoqdagi qiyshayishni to'g'rilash uchun Fiksator
                            </option>

                            <option value="58">
                                Lver Zime
                            </option>

                            <option value="57">
                                Montalin original INDONEZIYA.
                            </option>

                            <option value="56">
                                VGR V-030 Moshinka
                            </option>

                            <option value="55">
                                hc-916 Moshinka
                            </option>

                            <option value="47">
                                Depilyatsiya spray
                            </option>

                            <option value="46">
                                ELIKTRON KARSET
                            </option>

                            <option value="43">
                                UZBEKCHA USTOZ JOYNOMOZ BOLALAR UCHUN
                            </option>

                            <option value="40">
                                Saodat Asri Qissalari
                            </option>

                            <option value="39">
                                Chopper shisha orginal
                            </option>

                            <option value="38">
                                Ko'pfunksiyalik Max Chopper 2
                            </option>

                            <option value="37">
                                Ko'pfunksiyalik High Speedy Chopper
                            </option>

                            <option value="35">
                                erkaklar uchun Slim aktiv mayka
                            </option>

                            <option value="34">
                                O'sha mashxur ozdiruvchi mayka endi ayollar uchun ham
                            </option>

                            <option value="33">
                                ZAMONAVIY maydalagich
                            </option>

                            <option value="32">
                                NAYZER
                            </option>

                            <option value="31">
                                GOLD Электрон қаламли Қуръони Карим тўплами.
                            </option>

                            <option value="29">
                                UZАMAX
                            </option>

                            <option value="28">
                                Toilet Rack
                            </option>

                            <option value="26">
                                Termal Mest
                            </option>

                            <option value="25">
                                QORA SEDANA
                            </option>

                            <option value="24">
                                MINOXIDIL 5%
                            </option>

                            <option value="23">
                                Minoxidil 10%
                            </option>

                            <option value="22">
                                GREN MASK
                            </option>

                            <option value="21">
                                RAPM
                            </option>

                            <option value="19">
                                Chernika
                            </option>

                            <option value="18">
                                joy nomoz kottalar
                            </option>

                            <option value="17">
                                ICE CREAM MASK
                            </option>

                            <option value="16">
                                Islomiy Sovg’alar to’plami
                            </option>

                            <option value="15">
                                DEMOK
                            </option>

                            <option value="14">
                                SAMYUN WAN
                            </option>

                            <option value="13">
                                BEARD OIL
                            </option>

                            <option value="12">
                                Bendax
                            </option>

                            <option value="11">
                                QURON LAMPA
                            </option>

                            <option value="10">
                                ZOLOTOY OLEN
                            </option>

                            <option value="9">
                                GO TOX
                            </option>

                            <option value="8">
                                TISH GEL
                            </option>

                            <option value="7">
                                Nano Botox
                            </option>

                            <option value="6">
                                TRANSFORMER JOYNAMOZ
                            </option>

                            <option value="5">
                                Afgoniston qozoni
                            </option>

                            <option value="4">
                                JANNATIM ONAM DAVLATIM OTAM
                            </option>

                            <option value="3">
                                IKKI QAVATLI komplikt tuplam
                            </option>

                            <option value="1">
                                Oyoq kiyim uchun maxsus shkaf
                            </option>

                        </select>
                    </div>
                    <br>

                    <input class="btn btn-primary" type="submit" value="Mahsulot qo'shish">
                </div>
            </form>
        </div>
    </div>
{% endblock %}