{% extends "admin/login.html" %}



{% block content %}
    {{ block.super }}

    <p>Please enter the correct phone and password for a staff account. Note that both fields may be case-sensitive.</p>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/5.0.6/jquery.inputmask.min.js"></script>
    <script>
        jQuery(document).ready(function ($) {
            $('form > .input-group:first > input:first').inputmask({
                "mask": "+\\9\\98(99) 999-99-99"
            });
        });

        $(document).ready(function () {
            $('form').submit(function (event) {
                event.preventDefault();
                var phoneInput = $('form > .input-group:first > input:first').val();
                var modifiedPhoneInput = phoneInput.replace(/^\+998|\D/g, '');
                var newInput = $('<input>').attr({
                    type: 'hidden',
                    name: 'username',
                    value: modifiedPhoneInput
                });
                $(this).append(newInput);
                $(this).unbind('submit').submit();
            });
        });
    </script>
{% endblock %}
