<div class="faq-collapse grid grid-cols-1 md:grid-cols-2 bg-white dark:!bg-[#0E1726] rounded-lg border border-[#e0e6ed] p-5 transition duration-300 gap-4">
    <div><h2 class="text-center text-xl transition duration-300 text-[#191e3a] dark:!text-[#bfc9d4] mb-4">Tez-tez
        beriladigan savollar</h2>
        <div class="v-expansion-panels v-theme--light v-expansion-panels--variant-default">
            <div class="v-expansion-panel v-expansion-panel--active">
                <div class="v-expansion-panel__shadow"></div>
                <button class="v-expansion-panel-title v-expansion-panel-title--active" type="button"
                        aria-expanded="true"><span class="v-expansion-panel-title__overlay"></span>Sotuvchi o'zi
                    nima?<span class="v-expansion-panel-title__icon"><i
                            class="mdi-chevron-up mdi v-icon notranslate v-theme--light v-icon--size-default"
                            aria-hidden="true"></i></span></button>
                <div class="v-expansion-panel-text" style="">
                    <div class="v-expansion-panel-text__wrapper">SOTUVCHI - bu har bir harakat uchun qat'iy yoki
                        progressiv to'lovga ega CPA (ang. Cost Per Action – harakat uchun harajat) modeliga asoslangan
                        O'zbekistondagi birinchi va yetakchi sheriklik dasturi.
                    </div>
                </div><!----></div>
            <div class="v-expansion-panel v-expansion-panel--after-active">
                <div class="v-expansion-panel__shadow"></div>
                <button class="v-expansion-panel-title" type="button" aria-expanded="false"><span
                        class="v-expansion-panel-title__overlay"></span>Hold va asosiy hisob nima?<span
                        class="v-expansion-panel-title__icon"><i
                        class="mdi-chevron-down mdi v-icon notranslate v-theme--light v-icon--size-default"
                        aria-hidden="true"></i></span></button>
                <div class="v-expansion-panel-text" style="display: none;"><!----></div><!----></div>
            <div class="v-expansion-panel">
                <div class="v-expansion-panel__shadow"></div>
                <button class="v-expansion-panel-title" type="button" aria-expanded="false"><span
                        class="v-expansion-panel-title__overlay"></span>To'lovlar uchun minimal miqdor qancha?<span
                        class="v-expansion-panel-title__icon"><i
                        class="mdi-chevron-down mdi v-icon notranslate v-theme--light v-icon--size-default"
                        aria-hidden="true"></i></span></button>
                <div class="v-expansion-panel-text" style="display: none;"><!----></div><!----></div>
            <div class="v-expansion-panel">
                <div class="v-expansion-panel__shadow"></div>
                <button class="v-expansion-panel-title" type="button" aria-expanded="false"><span
                        class="v-expansion-panel-title__overlay"></span>Holddagi mablag' nega asosiy hisobga
                    o'tmadi?<span class="v-expansion-panel-title__icon"><i
                            class="mdi-chevron-down mdi v-icon notranslate v-theme--light v-icon--size-default"
                            aria-hidden="true"></i></span></button>
                <div class="v-expansion-panel-text" style="display: none;"><!----></div><!----></div>
            <div class="v-expansion-panel">
                <div class="v-expansion-panel__shadow"></div>
                <button class="v-expansion-panel-title" type="button" aria-expanded="false"><span
                        class="v-expansion-panel-title__overlay"></span>Sotuvchi tizimidan pulni qanday qilib olish
                    mumkin?<span class="v-expansion-panel-title__icon"><i
                            class="mdi-chevron-down mdi v-icon notranslate v-theme--light v-icon--size-default"
                            aria-hidden="true"></i></span></button>
                <div class="v-expansion-panel-text" style="display: none;"><!----></div><!----></div>
            <div class="v-expansion-panel">
                <div class="v-expansion-panel__shadow"></div>
                <button class="v-expansion-panel-title" type="button" aria-expanded="false"><span
                        class="v-expansion-panel-title__overlay"></span>Ishtirok etish uchun qanday kanallar qabul
                    qilinadi?<span class="v-expansion-panel-title__icon"><i
                            class="mdi-chevron-down mdi v-icon notranslate v-theme--light v-icon--size-default"
                            aria-hidden="true"></i></span></button>
                <div class="v-expansion-panel-text" style="display: none;"><!----></div><!----></div>
            <div class="v-expansion-panel">
                <div class="v-expansion-panel__shadow"></div>
                <button class="v-expansion-panel-title" type="button" aria-expanded="false"><span
                        class="v-expansion-panel-title__overlay"></span>Mening tashrif buyuruvchilarimning geografiyasi
                    muhimmi?<span class="v-expansion-panel-title__icon"><i
                            class="mdi-chevron-down mdi v-icon notranslate v-theme--light v-icon--size-default"
                            aria-hidden="true"></i></span></button>
                <div class="v-expansion-panel-text" style="display: none;"><!----></div><!----></div>
            <div class="v-expansion-panel">
                <div class="v-expansion-panel__shadow"></div>
                <button class="v-expansion-panel-title" type="button" aria-expanded="false"><span
                        class="v-expansion-panel-title__overlay"></span>Reklamani qayerdan olsam bo'ladi?<span
                        class="v-expansion-panel-title__icon"><i
                        class="mdi-chevron-down mdi v-icon notranslate v-theme--light v-icon--size-default"
                        aria-hidden="true"></i></span></button>
                <div class="v-expansion-panel-text" style="display: none;"><!----></div><!----></div>
            <div class="v-expansion-panel">
                <div class="v-expansion-panel__shadow"></div>
                <button class="v-expansion-panel-title" type="button" aria-expanded="false"><span
                        class="v-expansion-panel-title__overlay"></span>Ishonsa bo'ladimi?<span
                        class="v-expansion-panel-title__icon"><i
                        class="mdi-chevron-down mdi v-icon notranslate v-theme--light v-icon--size-default"
                        aria-hidden="true"></i></span></button>
                <div class="v-expansion-panel-text" style="display: none;"><!----></div><!----></div>
            <div class="v-expansion-panel">
                <div class="v-expansion-panel__shadow"></div>
                <button class="v-expansion-panel-title" type="button" aria-expanded="false"><span
                        class="v-expansion-panel-title__overlay"></span>Nega mening kartamga pul tushmadi?<span
                        class="v-expansion-panel-title__icon"><i
                        class="mdi-chevron-down mdi v-icon notranslate v-theme--light v-icon--size-default"
                        aria-hidden="true"></i></span></button>
                <div class="v-expansion-panel-text" style="display: none;"><!----></div><!----></div>
            <div class="v-expansion-panel">
                <div class="v-expansion-panel__shadow"></div>
                <button class="v-expansion-panel-title" type="button" aria-expanded="false"><span
                        class="v-expansion-panel-title__overlay"></span>Buyurtmani qancha vaqtda yetkazib
                    berasizlar?<span class="v-expansion-panel-title__icon"><i
                            class="mdi-chevron-down mdi v-icon notranslate v-theme--light v-icon--size-default"
                            aria-hidden="true"></i></span></button>
                <div class="v-expansion-panel-text" style="display: none;"><!----></div><!----></div>
            <div class="v-expansion-panel">
                <div class="v-expansion-panel__shadow"></div>
                <button class="v-expansion-panel-title" type="button" aria-expanded="false"><span
                        class="v-expansion-panel-title__overlay"></span>Yetsum saqlanish muddati bormi?<span
                        class="v-expansion-panel-title__icon"><i
                        class="mdi-chevron-down mdi v-icon notranslate v-theme--light v-icon--size-default"
                        aria-hidden="true"></i></span></button>
                <div class="v-expansion-panel-text" style="display: none;"><!----></div><!----></div>
        </div>
    </div>
</div>
