{% extends 'apps/base.html' %}
{% load static %}
{% block main_content %}
    <div class="content_auth_form">
        <div class="content_auth_form_group">
            <div class="content_auth_form_group_input">
                <div class="card">
                    <form method="POST" action="{% url 'login_page' %}">
                        {% csrf_token %}
                        <div class="card-header bg-circle-shape bg-shape text-center p-2"><a
                                class="font-sans-serif fw-bolder fs-4 z-index-1 position-relative link-light light"
                                href="/">ModaGo</a></div>
                        <div class="card-body p-4">
                            <div class="row flex-between-center">
                                <div class="col-auto">
                                    <h3>Kirish</h3>
                                </div>
                            </div>

                            <div class="mb-3">
                                <label class="form-label" for="username">Telfon raqam</label>
                                <input class="form-control" name="phone" id="phone-mask"
                                       placeholder="Telfon raqamngizni kirting">
                            </div>
                            <div class="mb-3">
                                <div class="d-flex justify-content-between">
                                    <label class="form-label" for="split-login-password">Parol</label>
                                </div>
                                <input class="form-control" name="password" id="split-login-password" type="password">
                            </div>
                            <div class="row flex-between-center">
                                <div class="col-auto">
                                    <div class="form-check mb-0">
                                        <input class="form-check-input" autocomplete="on" type="checkbox"
                                               id="split-checkbox">
                                        <label class="form-check-label mb-0" for="split-checkbox">
                                            Men qoidalar bilan tanishdim</label>
                                    </div>
                                </div>

                                <div class="col-auto">
                                    <a class="fs--1" href="{% url 'register_page' %}">
                                        Ro'yxatdan o'tish
                                    </a>
                                </div>
                            </div>
                            <div class="mb-3">
                                <button class="btn btn-primary d-block w-100 mt-3" type="submit" name="submit">
                                    Kirish
                                </button>
                            </div>

                        </div>
                        {% if messages %}
                            <div id="error-message" class="alert alert-danger">
                                {% for message in messages %}
                                    <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </form>

                </div>
            </div>
        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var errorMessage = document.getElementById('error-message');
            if (errorMessage) {
                setTimeout(function () {
                    errorMessage.style.transition = 'opacity 1s';
                    errorMessage.style.opacity = '0';
                    setTimeout(function () {
                        errorMessage.style.display = 'none';
                    }, 1000);
                }, 3000);
            }
        });
    </script>

{% endblock %}