{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Phone Number Input</title>
    <style>
        .phone-input {
            font-family: Arial, sans-serif;
            font-size: 20px;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            width: 250px;
            box-sizing: border-box;
            color: black; 
        }
    </style>
    <script src="{% static 'apps/assets/js/login_phone.js' %}"></script>
</head>
<body>
<input type="tel" class="phone-input" id="phoneInput" maxlength="17" oninput="formatPhoneNumber(this)"
       placeholder="+998 00 000-00-00">
</body>
</html>