{% extends 'apps/base.html' %}
{% load static %}
{% block main_content %}

    <div class="content_auth_form">
        <div class="content_auth_form_group">
            <div class="content_auth_form_group_input">
                <div class="card">
                    <form method="POST" action="{% url 'register_page' %}">
                        {% csrf_token %}
                        <div class="card-header bg-circle-shape bg-shape text-center p-2"><a
                                class="font-sans-serif fw-bolder fs-4 z-index-1 position-relative link-light light"
                                href="/">ModaGo</a></div>
                        <div class="card-body p-4">
                            <div class="row flex-between-center">
                                <div class="col-auto">
                                    <h3>Ro'yxatdan o'tish</h3>
                                </div>
                            </div>

                            <div class="mb-3">
                                <label class="form-label" for="phone">Telefon raqam</label>
                                <input type="text" name="phone" id="phone-mask" class="form-control"
                                       placeholder="Telfon raqamingizni kiriting">
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="role">Kim bo'lib kirmoqchisiz..?</label>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="status" id="roleUser"
                                           value="user" checked>
                                    <label class="form-check-label" for="roleUser">Foydalanuvchi bo'lib kirish</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="status" id="roleSeller"
                                           value="seller" disabled>
                                    <label class="form-check-label text-muted" for="roleSeller">Sotuvchi bo'lib kirish
                                        tez orada (Ishga tushadi)</label>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="password1">Parol</label>
                                <input class="form-control" name="password1" id="password1" type="password"
                                       placeholder="Parolingizni kiriting">

                            </div>

                            <div class="mb-3">
                                <label class="form-label" for="password2">Parolni tasdiqlang</label>
                                <input class="form-control" name="password2" id="password2" type="password"
                                       placeholder="Parolingizni tasdiqlang">

                            </div>
                            <div class="row flex-between-center">
                                <div class="col-auto">
                                    <div class="form-check mb-0">
                                        <input class="form-check-input" autocomplete="on" type="checkbox"
                                               id="split-checkbox">
                                        <label class="form-check-label mb-0" for="split-checkbox">
                                            Men qoidalar bilan tanishdim</label>
                                    </div>
                                </div>

                                {#                                <div class="col-auto">#}
                                {#                                    <a class="fs--1" href="{% url 'login_bot' %}">#}
                                {#                                        Teligram bot orqali kirish#}
                                {#                                    </a>#}
                                {#                                </div>#}
                            </div>
                            <div class="mb-3">
                                <button class="btn btn-primary d-block w-100 mt-3" type="submit" name="submit">
                                    Kirish
                                </button>
                            </div>

                        </div>
                        {% if form.errors %}
                            <div id="error-message" class="alert alert-danger">
                                {% for field in form %}
                                    {% for error in field.errors %}
                                        <p>{{ field.label }}: {{ error }}</p>
                                    {% endfor %}
                                {% endfor %}
                                {% for error in form.non_field_errors %}
                                    <p>{{ error }}</p>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </form>

                </div>
            </div>
        </div>


    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var errorMessage = document.getElementById('error-message');
            if (errorMessage) {
                setTimeout(function () {
                    errorMessage.style.transition = 'opacity 1s';
                    errorMessage.style.opacity = '0';
                    setTimeout(function () {
                        errorMessage.style.display = 'none';
                    }, 1000);
                }, 3000);
            }
        });
    </script>

{% endblock %}
