{% extends 'apps/base.html' %}
{% load static %}
{% block main_content %}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <body>
    <div class="card mb-3">
        <div class="card-body">
            <div class="container">
                <div class="container border-bottom-4">
                    <div class="header_tab_menu">
                        <div class="header_menu" style="overflow: auto">
                            <a href="{% url 'stats_page' %}?period=today" class="btn btn-default">Bugun</a>
                            <a href="{% url 'stats_page' %}?period=last_day" class="btn btn-default">Kechagi</a>
                            <a href="{% url 'stats_page' %}?period=weekly" class="btn btn-default">Haftalik</a>
                            <a href="{% url 'stats_page' %}?period=monthly" class="btn btn-default">Oylik</a>
                            <a href="{% url 'stats_page' %}?period=all" class="btn btn-default">Hammasi</a>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table">
                        <thead class="text-center">

                        <tr>
                            <th scope="col">Oqim</th>
                            <th scope="col">Mahsulot</th>
                            <th scope="col">Tashrif</th>
                            <th scope="col">Yangi</th>
                            <th scope="col">Dastavkaga tayyor</th>
                            <th scope="col">Yetkazilmoqda</th>
                            <th scope="col">Yetqazib berildi</th>
                            <th scope="col">Telefon ko'tarmadi</th>
                            <th scope="col">Bekor qilindi</th>
                            <th scope="col">Arxivlandi</th>
                        </tr>
                        <tr class="bg-info">
                            <td> JAMI</td>
                            <td></td>
                            <td> {{ total_orders_visit |default_if_none:'0' }}</td>
                            <td> {{ total_orders_new |default_if_none:'0' }}</td>
                            <td> {{ total_orders_ready |default_if_none:'0' }}</td>
                            <td> {{ total_orders_delivery |default_if_none:'0' }}</td>
                            <td> {{ total_orders_delivered |default_if_none:'0' }}</td>
                            <td> {{ total_orders_canceled |default_if_none:'0' }}</td>
                            <td> {{ total_orders_archived |default_if_none:'0' }}</td>
                            <td>{{ total_orders_iphone |default_if_none:'0' }}</td>

                        </tr>
                        </thead>

                        <tbody class="text-center">
                        {% for stat in stats %}
                            <tr>
                                <th>{{ stat.name }}</th>
                                <th>{{ stat.product.name }}</th>
                                <td>{{ stat.orders_visit }}</td>
                                <td>{{ stat.orders_ready }}</td>
                                <td>{{ stat.orders_delivery }}</td>
                                <td>{{ stat.orders_delivered }}</td>
                                <td>{{ stat.orders_canceled }}</td>
                                <td>{{ stat.orders_archived }}</td>
                                <td>{{ stat.orders_iphone }}</td>
                                <td>0</td>


                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    </body>
    </html>
{% endblock %}