{% extends 'apps/operator/operator.html' %}
{% load static %}
{% block operator_context %}
    <div class="container">
        <div class="col-md-6 col-sm-6 offset-2">
            <form method="post" action="{% url 'operator_new' %}">
                <div class="form-group">
                    <div class="form-group">
                        <label for="inputFullName">Ism Familyasi</label>
                        <input type="text" name="fullname" class="form-control" id="inputFullName">
                    </div>
                    <br>
                    <label for="location">Viloyat</label>
                    <select class="form-control" id="location" name="location">
                        <option value="Viloyatni tanlang">Viloyatni tanlang</option>
                    </select>
                    <br>
                    <div class="form-group">
                        <label for="inputAddress">Manzili</label>
                        <input type="text" name="address" class="form-control" id="inputAddress">
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="inputCount">Soni</label>
                        <input type="number" name="quantity" class="form-control" id="inputCount">
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="phone-mask">Telefon nomer</label>
                        <input type="text" id="phone-mask" max="20" name="phone_number" class="form-control">
                    </div>
                    <br>

                    <div class="form-group">
                        <label for="product">Mahsulot</label>
                        <select class="form-control" id="product" name="product">
                            <option value="">Hammasi</option>
                            <option value="424">Bolalar uchun alifbo</option>
                        </select>
                    </div>
                    <br>
                    <input class="btn btn-primary" type="submit" value="Mahsulot qo'shish">
                </div>
            </form>
        </div>
    </div>
{% endblock %}