{% extends 'apps/operator/operator.html' %}
{% load static %}
{% load thumbnail %}
{% load humanize %}
{% block operator_context %}
    <div class="col-md-10" style="margin-left: 16%;">
        <div class="bg-light w-75 m-auto mt-5">
            <form method="GET" , action="{% url 'operator_search' %}">
                <label for="id_product">Mahsulot:</label>
                <select id="id_product" name="product" multiple>
                    {% for product_operator in product_operators %}
                        <option value="{{ product_operator.pk }}">{{ product_operator.name }}</option>
                    {% endfor %}
                </select>

                <label for="id_region">Viloyat:</label>
                <select id="id_region" name="region">
                    {% for region in operator_regions %}
                        <option value="{{ region.pk }}">{{ region.name }}</option>
                    {% endfor %}
                </select>

                <label for="id_district">Tuman:</label>
                <select id="id_district" name="district">
                    {% for district in operator_districts %}
                        <option value="{{ district.pk }}" class="district-option"
                                data-region="{{ district.region_id }}">{{ district.name }}</option>
                    {% endfor %}
                </select>
                <br>
                <button type="submit">Qidirish</button>
            </form>
            <div class="container">
                {% for operator_order in operator_orders %}
                    <div class="order-card">
                        <h2>{{ operator_order.name }} - {{ operator_order.product.price|intcomma }} so'm</h2>
                        <h3>ZAKAZ ID: #{{ operator_order.id }}</h3>
                        <ul>
                            <li><strong>Reklama tarqatuvchi
                                ID:</strong> {{ operator_order.product.referral_reward |default_if_none:'' }}</li>
                            <li><strong>Client:</strong> {{ operator_order.client_name }} - {{ operator_order.phone }}
                            </li>
                            <li><strong>Address:</strong> {{ operator_order.district.name }}</li>
                            <li><strong>Narxi:</strong> {{ operator_order.product.price|intcomma|default_if_none:'' }}
                                so'm
                            </li>
                            <li><strong>Soni:</strong> {{ operator_order.count }} ta</li>
                            <li><strong>Vaqti:</strong> {{ operator_order.created_at |  date:'Y. m. d. H:i' }}</li>
                            <li><strong>Yangilangan vaqti:</strong> {{ operator_order.updated_at|date:'Y. m. d. H:i' }}
                            </li>
                            <li><strong>Holati:</strong> {{ operator_order.status }}</li>
                        </ul>
                        <div class="d-flex justify-content-end">
                            <button class="btn btn-success">Qabul qilish</button>
                            <button class="btn btn-warning">Hold</button>
                        </div>
                    </div>
                {% endfor %}
            </div>

        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#id_region').change(function () {
                var region_id = $(this).val();
                $('.district-option').each(function () {
                    var district_region_id = $(this).data('region');
                    if (region_id === '' || region_id == district_region_id) {
                        $(this).show();
                    } else {
                        $(this).hide();
                    }
                });
            });
        });
    </script>
{% endblock %}