{% extends 'apps/base.html' %}
{% load static %}
{% load humanize %}

{% block main_content %}
    <div class="card">
        <div class="card-body p-0">
            <div class="row gx-card mx-0 bg-200 text-900 fs--1 fw-semi-bold">
                <div class="col-9 col-md-8 py-2">Name</div>
                <div class="col-3 col-md-4">
                    <div class="row">
                        <div class="col-md-8 py-2 d-none d-md-block text-center">Quantity</div>
                        <div class="col-12 col-md-4 text-end py-2">Price</div>
                    </div>
                </div>
            </div>
            {% for wishlist in wishlists %}
                <div class="row gx-card mx-0 align-items-center border-bottom border-200">
                    <div class="col-8 py-3">
                        <div class="d-flex align-items-center">
                            <a href="{% url 'product_detail_page' wishlist.product.slug %}">
                                <img class="img-fluid rounded-1 me-3 d-none d-md-block" src="{{ wishlist.product.first_image.image.url }}"
                                     alt="" width="60">
                            </a>
                            <div class="flex-1">
                                <h5 class="fs-0">
                                    <a class="text-900"
                                       href="{% url 'product_detail_page' wishlist.product.slug %}">{{ wishlist.product.name }}</a>
                                </h5>
                                <div class="fs--2 fs-md--1">
                                    <a class="remove-link"
                                       href="#!">Remove</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 py-3">
                        <div class="row align-items-center">
                            <div class="col-md-8 d-flex justify-content-end justify-content-md-center order-1 order-md-0">
                                <div>{{ wishlist.product.id }}</div>
                            </div>
                            <div class="col-md-4 text-end ps-0 order-0 order-md-1 mb-2 mb-md-0 text-600">
                                {{ wishlist.product.price |intcomma }}</div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            <div class="row fw-bold gx-card mx-0">
                <div class="col-9 col-md-8 py-2 text-end text-900">Total</div>
                <div class="col px-0">
                    <div class="row gx-card mx-0">
                        <div class="col-md-8 py-2 d-none d-md-block text-center">{{ wishlists.count }} (items)</div>
                        <div class="col-12 col-md-4 text-end py-2">{{ total_price|intcomma }} sum</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <style>
        .remove-link.red {
            color: red;
        }
    </style>

    <script>
        function addToWishList(productId) {
            fetch(`/add-to-wishlist/${productId}/`, {
                method: 'POST',
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}',
                    'Content-Type': 'application/json'
                }
            })
                .then(response => response.json())
                .then(data => {
                    alert(data.message);
                });
        }

        function removeFromCart(productId) {
            // Implement remove from cart functionality
        }
    </script>
{% endblock %}
